body {
  font-size: 16px;
  font-family: 'proxima-nova', sans-serif;
}

.main_text {
  color: #d7edef;
}

.bg_img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url(./images/testing_bg_1.jpg);
  filter: brightness(40%);  
}

.bg_text {
  top: 40%;
  position: absolute;
  left: 3%;
}
.nav-bar {
  padding-right: 2vw;
  font-family: 'Inconsolata', monospace;
  background-color: #4c4f4d;
  color: #d7edef;
  border: none;
}
.narbar-inverse:hover {
  color: #800000;
}

.bg_header_lg {
  /*
   font-family: 'Lora', serif;
   
  font-family: 'Roboto', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Playfair Display', serif;*/

  font-family: 'Inconsolata', monospace;
  color: #d7edef;
  font-size: 9vw;
}
.pg_headers{
  font-family: 'Inconsolata', monospace;
  color: #d7edef;
  font-size: 15vw;
}
.bg_header_sm{
  font-family: 'Inconsolata', monospace;
  color: #d7edef;
  position: fixed;
  top: 40%;
  font-size: 8vw;
}
.bg_header_xs {
  font-family: 'Inconsolata', monospace;
  color: #d7edef;
  position: fixed;
  font-size: 5vh;
}
.proj-card{
  font-family: 'Inconsolata', monospace;
  color: #d7edef;
  position: fixed;
  top: 10%;
  padding-right: 3%;
  font-size: 2vh;
}

.navbar_item{
  color:white;
}
.panel_descp{
  text-align: left;
}
.panel_info{
  text-align: right;
}
.panel-main{
  background-color: #4c4f4e !important;
  font-family: 'Inconsolata', monospace !important;
  color: #d7edef !important;
}

.panel-main:hover{
  /*background-color: #1b332a !important;*/
  background-color: #800000 !important;
  font-family: 'Inconsolata', monospace !important;
  color: #d7edef !important;
} 
.panel-head{
  background-color: #282a2a  !important;
  font-family: 'Inconsolata', monospace !important;
  color: #d7edef !important;
  
}
.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: 0 auto;
}
.navbar{
  z-index: 1;
}
